<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-geofence" version="0.6.0">
    <name>background-location</name>
    <description>Enable Background Location - Stump</description>
    <license>Apache 2.0</license>
    <keywords>phonegap,background geolocation</keywords>
    <repo></repo>
    <issue></issue>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Validated needs your location to help you find places nearby.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Validated needs your location to help you find and alert you of places nearby.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
    </platform>
</plugin>
